build
dist / media
node_modules
.DS_Store
.env
.env.local
.next
.vercel
backup
*.zip

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml

# Added by kyle
pnpm-lock.yaml
yarn.lock